<div class="container-fluid t_reg">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-2 col-md-2 col-sm-2">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="t_reg_success_title">Войдите!</div>
                <div class="t_reg_form1">

                    <div>Ваш e-mail</div>
                    <input class="input_notfull_width" type="text" id="login" value="<%- login %>">
                    <span class="form_error"><%- error %></span>

                    <div>Ваш пароль <a class="forget_link" href="#forgot">(забыли пароль?)</a></div>
                    <input class="input_notfull_width" type="password" id="password" value="<%- password %>">
                    <label class="control-label"> <%- success %> </label>

                    <div class="btn_blue">
                        <a id="loginButton" href="#"><%- app.poly.t('login.button_caption') %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>