<div class="container-fluid header_box">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 header_box_left">

        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 header_box_right">
            НАСТРОЙКИ
        </div>
    </div>
</div>

<div class="container-fluid content_container setting_box">
    <div class="row form_box">
        <div class="col-lg-2 col-md-2 col-sm-2 form_number">

        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 content_block">
            <div class="t_reg_success_title">Общая информация</div>
            <div class="t_reg_form1">
                <div><%- app.poly.t('dashboard.name') %></div>
                <input type="text" value="<%- firstName %>" name="firstName" class="dash-firstName input_full_width">

                <!--div>E-mail</div>
                <input class="input_full_width" type="text" value="<%- email %>"-->

                <div>Телефон</div>
                <input  value="<%- phone %>" class="dash-phone input_full_width" type="text">
            </div>
            <div class="btn_blue">
                <a class="dash-update" href="">Сохранить</a>
            </div>
            <div style="color:#ff307c;"><%- success %></div>

            <div class="t_reg_success_title setting_title">Сменить пароль</div>
            <div class="t_reg_form1">
                <div>Старый пароль</div>
                <input class="input_full_width" type="password">

                <div>Новый пароль</div>
                <input class="input_full_width dash-pass1" type="password">

                <div>Новый пароль еще раз</div>
                <input class="input_full_width dash-pass2" type="password">
            </div>

            <div class="btn_blue">
                <a class="passwd-update" href="">Сохранить</a>
            </div>
            <div style="color:#ff307c;"><%- successPasssword %></div>
            <div style="color:#ff307c;"><%- warn %></div>
            <br/>

        </div>
    </div>
</div>