
<div class="container-fluid header_box">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 header_box_left">
            <%if (courseId) {%>
            <a class="header_back" href="#course/show/<%-courseId%>"><img src="images/header_back.png" alt=""> Назад</a>
            <%} else {%>
            <a class="header_back" href="#courses"><img src="images/header_back.png" alt=""> Назад</a>
            <%}%>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 header_box_right">
            <% if (courseId)  {%>ИЗМЕНИТЬ КУРС<%} else {%>ДОБАВИТЬ КУРС<%}%>
        </div>
    </div>
</div>

<div class="container-fluid content_container bg_fff">
    <div class="row form_box">
        <div class="col-lg-2 col-md-2 col-sm-2 form_number">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 content_block">
            <div class="t_form1">
                <div>Название курса</div>
                <input class="input_notfull_width2 course-name" type="text" value="<%- name %>">

                <div class="row" style="margin-top:0px;">
                    <%if (iconUrl) { %>
                    <div class="col-sm-4">
                        Иконка курса<br>
                        <img src="<%-iconUrl%>" class="icon-img" width="245" height="170"  >
                        <input style="display:none;" type="file" name="file-2[]" id="file-2" class="inputfile inputfile-2 icon" data-file-class="icon" />
                    </div>
                    <div class="col-sm-2" style="max-width:80px; padding-top:20px;">
                        <a href="#" class="iconChanger"><img src="images/edit_3.png" alt=""></a>
                        <a href="#" class="iconDeleter"><img src="images/delete_2.png" alt=""></a>
                    </div>
                    <%} else {%>
                    <div class="col-sm-4">
                        Иконка курса<br>
                        <input style="display:none;" type="file" name="file-2[]" id="file-2" class="inputfile inputfile-2 icon" data-file-class="icon" />
                        <label for="file-2" class="icon-label"><span>загрузить изображение&hellip;</span></label>
                    </div>
                    <%}%>

                    <% if (imageUrl) { %>
                    <div class="col-sm-5">
                        Картинка курса<br>

                        <img src="<%-imageUrl%>" class="image-img" width="380" height="170"  >

                        <input style="display:none;" type="file" name="file-3[]" id="file-3" class="inputfile inputfile-3 image" data-file-class="image" />
                    </div>
                    <div class="col-sm-2" style="max-width:80px; padding-top:20px;">
                        <a href="#" class="imageChanger"><img src="images/edit_3.png" alt=""></a>
                        <a href="#" class="imageDeleter"><img src="images/delete_2.png" alt=""></a>
                    </div>

                    <%} else {%>

                    <div class="col-sm-5">
                        Картинка курса<br>
                        <input style="display:none;" type="file" name="file-3[]" id="file-3" class="inputfile inputfile-3 image" data-file-class="image" />
                        <label for="file-3" class="image-label"><span>загрузить изображение&hellip;</span></label>
                        <span class="file_info">Важно! Не менее 1000px по ширине</span>

                    </div>
                    <%}%>


                </div>

                <div>Краткое описание</div>
                <textarea class="add_les_textarea course-description" rows="5"   ><%- shortDescription %></textarea>
                <span class="add_span_info">не более 250 символов</span>

                <div>Подробное описание</div>
                <textarea class="add_les_textarea course-full-description" rows="12" name=""  ><%- fullDescription %></textarea>



            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="bottom_line"></div>
        <div class="row form_box">
            <div class="col-lg-2 col-md-2 col-sm-2 form_number">

            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 content_block">
                <div class="less_notp"><%- result %></div>
                <a class="add_l_b course-update" href="">Сохранить</a>
                <!--a class="add_l_g" href="">Сохранить</a-->
                <br><br>
            </div>
        </div>
    </div>

    <input type="hidden" name="itemUuid" value="<%- euuid %>" class="course-uuid">
    <input type="hidden" name="authorUuid" value="<%- authorEuuid %>" class="course-authorUuid">


</div>