<div class="container-fluid t_courses_header">
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6 t_courses_header_left">ВАШИ КУРСЫ</div>
        <div class="col-lg-6 col-md-6 col-sm-6 t_courses_header_right">
            <a class="add_header" href="#course/add"><img src="/images/add.png" alt=""> Добавить курс</a>
        </div>
    </div>
</div>
<div class="container-fluid content_container">
<% if (courseList.length) { %>

    <% _.each(courseList, function(course) { %>
    <div class="add_curs">
        <div class="edit_curse"><a href="#course/show/<%-course.euuid%>"><img src="images/edit_a.png" alt=""></a></div>
        <div class="row s_courses_box">
            <div class="col-lg-6 col-md-6">
                <% if (course.iconUrl) { %>
                <img width="427" height="297" src="<%- course.iconUrl%>" alt="">
                <%} else {%>
                <img width="427" height="297" src="images/photo.png" alt="">
                <%}%>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="s_courses_title"><%-course.name%></div>
                <div class="s_courses_text">
                    <%-course.description%>
                </div>
                <div class="line_31">
                    <span></span>
                    <span><img src="images/userico_2.png" alt=""></span>
                    <span>2414</span>
                    <span></span>
                    <span><img src="images/userico_3.png" alt=""></span>
                    <span>800</span>
                    <span></span>
                    <span><img src="images/userico_4.png" alt=""></span>
                    <span>414</span>
                </div>
                <div class="line_32">
                    <span>проходят обучение</span>
                    <span>онлайн</span>
                    <span>Завершили</span>
                </div>
            </div>
        </div>
    </div>
    <%});%>

<% } else { %>
    <div class="add_curs" style="display: <%- showAdd %>;">
        <div class="add_curs_l1">У вас еще нет ни одного курса</div>
        <div class="add_curs_l2">Изменение глобальной стратегии, как следует специфицирует конвергентный презентационный материал. <br><br>
            Маркетинговая активность существенно изменяет имидж. Каждая сфера рынка, суммируя приведенные примеры, откровенно цинична. </div>
        <div class="add_curs_l3"><a href="#course/add"><img src="/images/add.png" alt=""> Добавить курс</a></div>
    </div>
<%}%>
</div>