
<div class="container-fluid header_box">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 header_box_left">
            <a class="header_back" href="#courses"><img src="images/header_back.png" alt=""> Назад</a>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 header_box_right">
            <%- name %>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 header_box_edit">
            <a href="#course/edit/<%- courseId %>">Редактировать</a>
        </div>
    </div>
</div>

<div class="container-fluid line_3">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <span>проходят обучение:</span>
            <span><img src="images/userico_2.png" alt=""></span>
            <span>2414</span>
            <span>онлайн:</span>
            <span><img src="images/userico_3.png" alt=""></span>
            <span>800</span>
            <span>завершили:</span>
            <span><img src="images/userico_4.png" alt=""></span>
            <span>414</span>
        </div>
        <div class="col-lg-4 col-md-4 edit_user">
            <a href="#">Управлять пользователями</a>
        </div>
    </div>
</div>
<div class="container-fluid content_container user_list">
    <div class="container-fluid">
        <script>
            $(function() {
              /*  $( "#sortable" ).sortable({
                    revert: true
                });
                $( "#draggable" ).draggable({
                    connectToSortable: "#sortable",
                    helper: "clone",
                    revert: "invalid"
                });
                $( "ul, li" ).disableSelection();*/
            });
        </script>
        <ul id="sortable">
            <% _.each(lessons, function(lesson, index) { %>
            <li class="ui-state-default">
                <table class="dd_table">
                    <tr>
                        <td style="width:40px;"><img src="images/dd.png" alt=""></td>
                        <td class="dd_td1"><%-index+1%></td>
                        <td class="dd_td2"><a href="#lesson/edit/<%-lesson.euuid%>"><%-lesson.name%></a></td>
                        <td class="dd_td3"></td>
                        <td class="dd_td4"><img src="images/ui.png" alt="">550</td>
                    </tr>
                </table>
            </li>
            <%});%>
        </ul>
        <div class="row user_add_urok">
            <div class="col-lg-6 col-md-6 add_urok_box">
                <a class="add_header" href="#lesson/add/<%- courseId %>"><img src="images/add.png" alt=""> Добавить урок</a>
            </div>
            <div class="col-lg-6 col-md-6">
                <a class="v_curs" href="#">Посмотреть превью курса</a>
            </div>
        </div>
    </div>
</div>