<div id="home"></div>
<header>
    <div class="logo">
        <a href="index.html"><img src="images/logoremit.png" width="70" height="70" alt="Мясоперерабатывающий завод «РЕМИТ»" title="Мясоперерабатывающий завод «РЕМИТ»" /></a>
        <h1>Гастрономический бутик<br/>«Настоящий мясной»</h1>
        <a href="tel:+79296823696" class="topphone">+7 (929) 682-36-96</a>
        <div class="clear"></div>
    </div>

    <div class="menubasket">
        <nav class="nav-top">
            <ul>
                <li><a href="index.html#online-store" data-scroll>&middot;&nbsp;Онлайн-магазин&nbsp;&middot;</a></li>
                <li><a href="index.html#offline-store" data-scroll>&middot;&nbsp;Офлайн-магазин&nbsp;&middot;</a></li>
                <li><a href="index.html#reviews" data-scroll>&middot;&nbsp;Отзывы&nbsp;&middot;</a></li>
                <li><a href="index.html#photovideo" data-scroll>&middot;&nbsp;Видео&nbsp;&middot;</a></li>
            </ul>
        </nav>
        <div class="basketdata">
            <div class="basketimg"><a href="store-basket.html"><img src="images/basket_top_icon.png" width="30" height="30" alt="Ваша корзина" title="Ваша корзина" /></a></div>
            <div class="basketstat"><a href="store-basket.html" style="color: #fff;font-size: 1em;text-decoration:none;">834 р. (2)</a></div>
            <div class="rulestop"><a href="deliverypayment.html">Доставка и оплата</a></div>
            <div class="entertop"><a href="auth.html">Личный кабинет</a></div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
</header>