<div id="home"></div>
<header>
    <div class="logo">
        <a href="index.html"><img src="images/logoremit.png" width="70" height="70" alt="Мясоперерабатывающий завод «РЕМИТ»" title="Мясоперерабатывающий завод «РЕМИТ»" /></a>
        <h1>Гастрономический бутик<br/>«Настоящий мясной»</h1>
        <a href="tel:+79296823696" class="topphone">+7 (929) 682-36-96</a>
        <div class="clear"></div>
    </div>

    <div class="menubasket">
        <nav class="nav-top">
            <ul>
                <li><a href="index.html#online-store" data-scroll>&middot;&nbsp;Онлайн-магазин&nbsp;&middot;</a></li>
                <li><a href="index.html#offline-store" data-scroll>&middot;&nbsp;Офлайн-магазин&nbsp;&middot;</a></li>
                <li><a href="index.html#reviews" data-scroll>&middot;&nbsp;Отзывы&nbsp;&middot;</a></li>
                <li><a href="index.html#photovideo" data-scroll>&middot;&nbsp;Видео&nbsp;&middot;</a></li>
            </ul>
        </nav>
        <div class="basketdata">
            <div class="basketimg"><a href="store-basket.html"><img src="images/basket_top_icon.png" width="30" height="30" alt="Ваша корзина" title="Ваша корзина" /></a></div>
            <div class="basketstat"><a href="store-basket.html" style="color: #fff;font-size: 1em;text-decoration:none;">834 р. (2)</a></div>
            <div class="rulestop"><a href="deliverypayment.html">Доставка и оплата</a></div>
            <div class="entertop"><a href="auth.html">Личный кабинет</a></div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
</header>



<!-- mobile -->
<div class="mobilemenu">

    <a href="index.html"><img src="images/textlogo.png" width="100" height="50" alt="Мясоперерабатывающий завод «РЕМИТ»" title="Мясоперерабатывающий завод «РЕМИТ»" /></a>
</div>

<div id="page_menu">
            <span class="menu">
            <nav class="m_menu">
                <ul>
                    <li><a href="index.html" data-scroll class="home">К началу</a></li>
                    <li><a href="index.html#online-store" data-scroll class="online-store2">&middot;&nbsp;Онлайн-магазин&nbsp;&middot;</a></li>
                    <li><a href="index.html#offline-store" data-scroll class="offline-store2">&middot;&nbsp;Офлайн-магазин&nbsp;&middot;</a></li>
                    <li><a href="index.html#reviews" data-scroll class="reviews2">&middot;&nbsp;Отзывы&nbsp;&middot;</a></li>
                    <li><a href="index.html#photovideo" data-scroll class="phv2">&middot;&nbsp;Видео&nbsp;&middot;</a></li>
                    <li><a href="deliverypayment.html" data-scroll class="phv2">&middot;&nbsp;Доставка и оплата&nbsp;&middot;</a></li>
                </ul>
            </nav>
            <div class="line"></div>
            <div class="socail">
                <ul>
                    <li class="social_icons icon_b1"><a href="" target="_blank"><i class="icon i-fb"></i></a></li>
                    <li class="social_icons icon_b2"><a href="" target="_blank"><i class="icon i-vk"></i></a></li>
                    <li class="social_icons icon_b3"><a href="" target="_blank"><i class="icon i-tw"></i></a></li>
                    <li class="social_icons icon_b4"><a href="" target="_blank"><i class="icon i-yt"></i></a></li>
                    <li class="social_icons icon_b5"><a href="" target="_blank"><i class="icon i-ok"></i></a></li>
                    <li class="social_icons icon_b6"><a href="" target="_blank"><i class="icon i-ins"></i></a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="line"></div>
            <div class="m_order_ph">Вы можете оставить свой заказ на продукцию и забрать ее в удобное для вас время!
                <br/><br/>
                <a href="tel:+79296823696" class="mphone">+7 (929) 682-36-96</a>
            </div>
            </span>
</div>



<!-- mobile -->
<span class="basket_toggle"><a href="store-basket.html"><img src="images/basket_top_icon.png" width="30" height="30" alt="Ваша корзина" title="Ваша корзина"></a></span>
<span class="auth_toggle"><a href="auth.html"><img src="images/auth_top_icon.png" width="30" height="30" alt="Ваша корзина" title="Ваша корзина"></a></span>
<span class="footer_toggle">+</span>


<div id="slider_wrapper">
    <div id="slider" class="divas-slider">
        <ul class="divas-slide-container">
            <li class="divas-slide"><img src="images/placeholder.gif" alt="" data-src="images/slider/1.jpg" data-title=""/></li>
            <li class="divas-slide"><img src="images/placeholder.gif" alt="" data-src="images/slider/2.jpg" data-title="" /></li>
            <li class="divas-slide"><img src="images/placeholder.gif" alt="" data-src="images/slider/3.jpg" data-title=""/></li>
            <li class="divas-slide"><img src="images/placeholder.gif" alt="" data-src="images/slider/4.jpg" data-title=""/></li>
            <li class="divas-slide"><img src="images/placeholder.gif" alt="" data-src="images/slider/5.jpg" data-title="" /></li>
        </ul>
        <div class="divas-navigation">
            <span class="divas-prev">&nbsp;</span>
            <span class="divas-next">&nbsp;</span>
        </div>
        <div class="divas-controls">
            <span class="divas-start"><i class="fa fa-play"></i></span>
            <span class="divas-stop"><i class="fa fa-pause"></i></span>
        </div>
    </div>

</div>



<div id="online-store" style="position:relative;top:-95px;"></div>

<div class="onlinestore" id="onlinestore" style=""></div>

<!-- first -->
<div class="store2"></div>
<div class="firstlayer" id="offline-store">
    <div class="offline-store2"></div>
    <div class="container1">Гастрономический бутик «Настоящий мясной»</div>
    <div class="worktime">
        <img src="images/worktime-tr.png" width="100" height="100" alt="Часы работы" /><br/>
        <p class="subheadtext">Работаем для Вас <br/>без перерывов и выходных</p><p class="headtext" style="margin-top:10px;">С 9:00 до 21:00</p>
    </div>
    <div class="workaddress">
        <img src="images/workaddress-tr.png" width="100" height="100" alt="Где купить" />
        <p class="headtext">Где купить</p><p class="subheadtext" style="margin-top:10px;">Подольск, Советская 22/49</p>
    </div>
    <div class="workphone">
        <img src="images/workphone-tr.png" width="100" height="100" alt="Телефон" />
        <p class="subheadtext">Звоните</p><a href="tel:+79296823696" class="headtext" style="display:block;margin-top:10px;color:#ee2a24;text-decoration:none;">+7 (929) 682-36-96</a>
    </div>
    <div class="workmail">
        <img src="images/workmail-tr.png" width="100" height="100" alt="Адрес электронной почты" />
        <p class="headtext">Пишите</p><p class="subheadtext" style="margin-top:10px;">rmc@mosremit.ru</p>
    </div>
    <div class="clear"></div>
    <div class="bigtext"><h3>ДЛЯ ТЕХ, КОМУ ВАЖНЫ КАЧЕСТВО, СВЕЖЕСТЬ И ВКУС ПРОДУКТОВ!<br/><span>Новый формат магазина – шоу-кухня, гастрономия и кафетерий в одном.</span></h3></div>
</div>
<!-- first -->

<!-- store -->
<div class="store">
    Вы можете оставить свой заказ на продукцию <br/>и забрать ее в удобное для вас время! <br/><br/>
    <h2><a href="tel:+79296823696" style="color:#fbf3e4;text-decoration:none;">+7 (929) 682-36-96</a></h2>
    <img src="images/phoneicon.png" width="100" height="100" alt="оставить свой заказ на продукцию">
</div>
<!-- store -->


<!-- reviews -->
<div class="reviews" id="reviews">
    <div class="reviews2"></div>
    <div class="reviewblock">
        <h2>Отзывы</h2>

        <div id="about" class="nano">
            <div class="nano-content">

                <div class="views">
                    <figure>
                        <img src="img/1.jpg">
                        <figcaption>Круто, купили колбаски, сосисок, балыка, шейки, голубцов, котлеток, пельмешек, шашлычка еще и сумку - холодильник выиграли, спасибо Ремит! :) Жаль рыбки нет.. Круто, купили колбаски, еще и сумку - холодильник выиграли, спасибо Ремит! :) Жаль рыбки нет...</figcaption>
                    </figure>
                </div>

                <div class="views">
                    <figure>
                        <img src="img/2.jpg">
                        <figcaption>Круто, купили колбаски, сосисок, балыка, шейки, голубцов, котлеток, пельмешек, шашлычка еще и сумку - холодильник выиграли, спасибо Ремит! :) Жаль рыбки нет.. Круто, купили колбаски, еще и сумку - холодильник выиграли, спасибо Ремит! :) Жаль рыбки нет...</figcaption>
                    </figure>
                </div>


                <div class="views">
                    <figure>
                        <img src="img/3.jpg">
                        <figcaption>Круто, купили колбаски, сосисок, балыка, шейки, голубцов, котлеток, пельмешек, шашлычка еще и сумку - холодильник выиграли, спасибо Ремит! :) Жаль рыбки нет.. Круто, купили колбаски, еще и сумку - холодильник выиграли, спасибо Ремит! :) Жаль рыбки нет...</figcaption>
                    </figure>
                </div>

                <div class="views">
                    <figure>
                        <img src="img/3.jpg">
                        <figcaption>Круто, купили колбаски, сосисок, балыка, шейки, голубцов, котлеток, пельмешек, шашлычка еще и сумку - холодильник выиграли, спасибо Ремит! :) Жаль рыбки нет.. Круто, купили колбаски, еще и сумку - холодильник выиграли, спасибо Ремит! :) Жаль рыбки нет...</figcaption>
                    </figure>
                </div>

                <div class="views">
                    <figure>
                        <img src="img/3.jpg">
                        <figcaption>Круто, купили колбаски, сосисок, балыка, шейки, голубцов, котлеток, пельмешек, шашлычка еще и сумку - холодильник выиграли, спасибо Ремит! :) Жаль рыбки нет.. Круто, купили колбаски, еще и сумку - холодильник выиграли, спасибо Ремит! :) Жаль рыбки нет...</figcaption>
                    </figure>
                </div>

            </div>
        </div>


    </div>
    <div class="reviewtext">
        <p><b>Новый формат магазина – шоу-кухня, гастрономия и кафетерий в одном!</b><br/><br/>
            <span>Лучший выбор свежего мяса от эконом до премиум, руколепные пельмени и хинкали, блюда высокой кухни, пицца, хот-доги, сэндвичи, шаурма, пироги с мясом, яблоком, капустой, творогом, адыгеским сыром.</span><br/><br/><b>Все готовится при вас.</b></p>
        <span class="control">Все мясо проходит обязательную проверку государственного ветеринарного врача!</span>
    </div>
    <div class="clear"></div>
</div>

<!-- reviews -->




<!-- video -->
<div class="photovideo" id="photovideo">
    <div class="phv2"></div>
    <h2>Видео</h2>
    <ul id="video" class="gallery">
        <li data-src="https://youtu.be/DOsDTa_EKJs">
            <figure>
                <a href="#">
                    <img src="thumb/pelmeni-rukolepnye.jpg">
                </a>
                <figcaption><a href="#">Пельмени руколепные</a></figcaption>
            </figure>
        </li>
        <li data-src="https://youtu.be/TrqrqT7RHkM">
            <figure>
                <a href="#">
                    <img src="thumb/hinkali-rukolepnye.jpg">
                </a>
                <figcaption><a href="#">Хинкали руколепные</a></figcaption>
            </figure>
        </li>
        <li data-src="https://youtu.be/ltz12FGGRcs">
            <figure>
                <a href="#">
                    <img src="thumb/manty-uzbekskie.jpg">
                </a>
                <figcaption><a href="#">Манты узбекские руколепные</a></figcaption>
            </figure>
        </li>
        <li data-src="https://youtu.be/Bh76RinVLgY">
            <figure>
                <a href="#">
                    <img src="thumb/manty-klassichekie.jpg">
                </a>
                <figcaption><a href="#">Манты классические руколепные</a></figcaption>
            </figure>
        </li>
        <li data-src="https://youtu.be/CV-B6Jy57nk">
            <figure>
                <a href="#">
                    <img src="thumb/dolma-vostochnaya.jpg">
                </a>
                <figcaption><a href="#">Долма восточная</a></figcaption>
            </figure>
        </li>
        <li data-src="https://youtu.be/34lCKMNGvA4?rel=0&amp;vq=hd720">
            <figure>
                <a href="#">
                    <img src="thumb/buuzy-buryatskie.jpg">
                </a>
                <figcaption><a href="#">Буузы Бурятские руколепные</a></figcaption>
            </figure>
        </li>
    </ul>
</div>
<!-- video -->



<div class="copyrights"></div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/jquery.smoothState.js"></script>
<script type="text/javascript" src="/js/jquery.nanoscroller.min.js"></script>
<script src="/js/functions.js"></script>
<script type="text/javascript" src="/js/jquery.divas-1.1.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {
        $("#slider").divas({
            slideTransitionClass: "divas-slide-transition-left",
            titleTransitionClass: "divas-title-transition-left",
            titleTransitionParameter: "left",
            titleTransitionStartValue: "-999px",
            titleTransitionStopValue: "10px",
            wingsOverlayColor: "rgba(0,0,0,0.3)"
        });
    });
</script>

<script src="/js/lightGallery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#video").lightGallery();
    });
</script>