<div class="copyrights">
    © 2014 МПЗ «РЕМИТ». www.mosremit.ru

    <div class="socail">
        <ul>
            <li class="social_icons icon_b1"><a href="" target="_blank"><i class="icon i-fb"></i></a></li>
            <li class="social_icons icon_b2"><a href="" target="_blank"><i class="icon i-vk"></i></a></li>
            <li class="social_icons icon_b3"><a href="" target="_blank"><i class="icon i-tw"></i></a></li>
            <li class="social_icons icon_b4"><a href="" target="_blank"><i class="icon i-yt"></i></a></li>
            <li class="social_icons icon_b5"><a href="" target="_blank"><i class="icon i-ok"></i></a></li>
            <li class="social_icons icon_b6"><a href="" target="_blank"><i class="icon i-ins"></i></a></li>
        </ul>
    </div>
</div>