<!DOCTYPE html>
<html lang='ru'>
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="Ремит" />
    <meta name="description" content="Ремит - мясное производство" />
    <link rel="stylesheet" href="/css/mainstyle.css" type="text/css" />
    <link rel="stylesheet" href="/css/keyframes.css">
    <link rel="stylesheet" href="/css/pageTransitionsCatalog.css">
    <link id="skin" rel="stylesheet" type="text/css" media="screen" href="/css/divas_free_skin.css" />
    <link rel="stylesheet"  href="/css/lightGallery.css" />
    <title>Гастрономический бутик «Настоящий мясной»</title>
</head>
<body class="index m-cat" id="main">
<div class="m-page scene_element scene_element--fadeinup">




{% block body %}{% endblock %}



</div>

</body>
</html>