<!DOCTYPE html>
<html lang='ru'>
<!--[if lt IE 7]>
<html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>
<html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="Ремит"/>
    <meta name="description" content="Ремит - мясное производство"/>
    <link rel="stylesheet" href="/css/mainstyle.css" type="text/css"/>
    <link rel="stylesheet" href="/css/keyframes.css">
    <link rel="stylesheet" href="/css/pageTransitionsCatalog.css">
    <title>{{product.title|e}} - Гастрономический бутик «Настоящий мясной»</title>
</head>
<body>

<div class="site">


    <div class="scene_element scene_element--fadeinright">


        <!-- online store -->

        <div class="item-detail-all">


            <!-- item detail -->
            <div style="width:100%; text-align:center;">
                <div style="width:100%; text-align:right;"><a class="backlinks" href="/categories/{{product.categoryCode}}">X</a></div>
                <h1>{{product.title|e}}</h1>
                <!-- item detail -->
                <div class="detail-desc">

                    <div class="itemphoto">
                        <figure><img src="{{product.image}}"
                                     title="{{product.title|e}}"></figure>
                    </div>
                    <div class="data">
                        <p class="price">{{product.price}} р./кг *</p>
                        <br/>
                        <p class="itemdata"> Вес единицы: {{product.weight}} {{product.units}}. <br/><br/><br/>

                            <input type="radio" class="radio" id="radio1" name="radio">
                            <label for="radio1"><span>Купить 0.7 кг за 248.5 рублей</span></label>
                            <br/><br/>

                            <input type="radio" class="radio" id="radio2" name="radio">
                            <label for="radio2"><span>Купить 1.4 кг за 497 рублей</span></label>
                            <br/><br/>


                            <input type="checkbox" class="checkbox" id="checkbox"/>
                            <label for="checkbox"><span>Нарезка</span></label>

                            <input type="checkbox" class="checkbox" id="checkbox2"/>
                            <label for="checkbox2"><span>Сделать фарш</span></label>

                        </p>

                        <br/>
                        Количество:<br/>
                        <div class="number">
                            <div style="width:auto;display:inline-block;overflow:hidden;text-align:center;">
                                <div class="minus">-</div>
                                <div class="c_items">2</div>
                                <div class="plus">+</div>
                            </div>
                        </div>

                        <div class="buytext"><a href="">В корзину</a></div>
                        <p>{{product.productMaterials|e}}</p>
                        <br/>
                        <p><span style="color:#d51920;font-size:1.2em;">*</span> Не является публичной офертой.
                            Стоимость товара может отличаться в зависимости от точного веса продукта.</p>

                        <!-- share -->
                        <div class="shareit">
                            <p>Поделитесь:</p>
                            <ul>
                                <li class="shareit_icons icon_b1"><a href="" target="_blank"><i
                                        class="icon i-fb"></i></a></li>
                                <li class="shareit_icons icon_b2"><a href="" target="_blank"><i
                                        class="icon i-vk"></i></a></li>
                                <li class="shareit_icons icon_b3"><a href="" target="_blank"><i
                                        class="icon i-tw"></i></a></li>
                                <li class="shareit_icons icon_b4"><a href="" target="_blank"><i
                                        class="icon i-yt"></i></a></li>
                                <li class="shareit_icons icon_b5"><a href="" target="_blank"><i
                                        class="icon i-ok"></i></a></li>
                                <li class="shareit_icons icon_b6"><a href="" target="_blank"><i class="icon i-ins"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- share -->

                    </div>
                    <div class="clear"></div>


                    <div class="desc">{{product.bestForText|e}}
                        <br/><br/>
                        <div style="display:inline-block;width:100%; text-align:center;">
                            <div class="vcon">
                                <div class="video-container">
                                    <iframe width="480" height="270" src="https://www.youtube.com/embed/BDRXGSEdN3w"
                                            frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div style="margin-left:10%;width:80%; text-align:center;"><h2 class="rec"><span>Советуем попробовать</span>
                    </h2></div>

                    <div class="onlinestore">
                        <div class="maingoods" style="width:100%; padding:0;">
                            <ul>
                                <li>
                                    <figure style="padding:0;">
                                        <a href="/categories/{{product.categoryCode}}"
                                           style="display:inline-block;width:100%;font-size:0.75em;text-decoration:none;color:#000;">&middot;&nbsp;вареные
                                            колбасы&nbsp;&middot;</a><br/>
                                        <a href="/categories/{{product.categoryCode}}" class="fadea"><img src="/cat/telyachiya.png"
                                                                                        title="Колбаса вареная «Телячья» в натуральной оболочке ГОСТ"></a>
                                        <figcaption>
                                            <h2><a href="/categories/{{product.categoryCode}}l" class="fadea">Колбаса вареная «Телячья» в
                                                натуральной оболочке ГОСТ</a></h2>
                                        </figcaption>
                                        <div class="pricebtn">
                                            <div class="price">380 р./кг.</div>
                                            <div class="buytext"><A href="">В корзину</A></div>
                                        </div>
                                    </figure>
                                </li>
                                <li>
                                    <figure style="padding:0;">
                                        <a href="/categories/{{product.categoryCode}}"
                                           style="display:inline-block;width:100%;font-size:0.75em;text-decoration:none;color:#000;">&middot;&nbsp;вареные
                                            колбасы&nbsp;&middot;</a><br/>
                                        <a href="/categories/{{product.categoryCode}}"><img src="/cat/doc-circle.png"
                                                                          title="Колбаса вареная «Докторская» в кругах, ручная вязка ГОСТ"></a>
                                        <figcaption>
                                            <h2><a href="/categories/{{product.categoryCode}}">Колбаса вареная «Докторская» в кругах,
                                                ручная вязка ГОСТ</a></h2>
                                        </figcaption>
                                        <div class="pricebtn">
                                            <div class="price">380 р./кг.</div>
                                            <div class="buytext"><A href="">В корзину</A></div>
                                        </div>
                                    </figure>
                                </li>
                                <li>
                                    <figure style="padding:0;">
                                        <a href="/categories/{{product.categoryCode}}"
                                           style="display:inline-block;width:100%;font-size:0.75em;text-decoration:none;color:#000;">&middot;&nbsp;вареные
                                            колбасы&nbsp;&middot;</a><br/>
                                        <a href="/categories/{{product.categoryCode}}"><img src="/cat/var-rus-gost.png"
                                                                          title="Колбаса вареная «Русская» ГОСТ"></a>
                                        <figcaption>
                                            <h2><a href="/categories/{{product.categoryCode}}">Колбаса вареная «Русская» ГОСТ</a></h2>
                                        </figcaption>
                                        <div class="pricebtn">
                                            <div class="price">380 р./кг.</div>
                                            <div class="buytext"><A href="">В корзину</A></div>
                                        </div>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
                <!-- item detail -->


            </div>


        </div>
        <!-- oneline store -->


    </div>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/jquery.smoothState.js"></script>
<script src="/js/func-catalog.js"></script>


</body>
</html>
